<!-- ======= About Us Section ======= -->
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="assets/img/about.svg" class="img-fluid" alt="">
            <a href="https://youtu.be/0ToxfLHTgN0" class="glightbox play-btn"></a>
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>Acerca de nosotros</h3>
            <p>
                Nuestro objetivo es brindar a nuestros miembros las herramientas, habilidades y conocimientos necesarios para que puedan aprovechar al máximo las oportunidades tecnológicas y convertirse en líderes en sus respectivos campos.
            </p>
            <p>
                La comunidad ofrece una amplia gama de eventos y recursos, incluyendo charlas, talleres, hackatones, foros de discusión y más.
            </p>
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5>Enfoque en el desarrollo personal y tecnológico</h5>
                  <p>A través de diversos eventos y recursos, la comunidad busca potenciar las habilidades tecnológicas de sus integrantes.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5>Comunidad inclusiva y diversa</h5>
                  <p>Comunidad inclusiva y diversa, donde se valora y respeta la singularidad de cada miembro.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast"></i>
                <div>
                  <h5>Compromiso social</h5>
                  <p>Utilizar la tecnología y el aprendizaje como herramientas para hacer un impacto positivo en la comunidad.</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-bag-check"></i>
                <div>
                  <h5>Comunidad activa</h5>
                  <p>Comunidad siempre activa y lista para ayudar a los demás y proporcionar las herramientas necesarias.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
