<!-- ======= Preguntas Frecuentes Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Preguntas Frecuentes</span>
          <h2>Preguntas Frecuentes</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    ¿Qué tipo de actividades ofrece Volcano Cloud para empoderar a sus miembros?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Volcano Cloud ofrece una amplia gama de actividades para empoderar a sus miembros a través del aprendizaje y la colaboración en torno a la tecnología. Entre las actividades se encuentran charlas informativas, talleres prácticos, hackatones, foros de discusión y otros eventos relacionados con la tecnología. Estas actividades están diseñadas para brindar a los miembros las herramientas, habilidades y conocimientos necesarios para aprovechar al máximo las oportunidades tecnológicas y convertirse en líderes en sus respectivos campos.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    ¿Cuál es el enfoque principal de Volcano Cloud al proporcionar un ambiente seguro y acogedor para sus miembros?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    El enfoque principal de Volcano Cloud es proporcionar un ambiente inclusivo, seguro y acogedor para todos sus miembros. La comunidad se compromete a ser un espacio libre de acoso, discriminación y comportamientos abusivos. Se fomenta el respeto mutuo, la escucha activa y el trabajo en equipo para crear un ambiente positivo y respetuoso donde todas las voces sean valoradas y escuchadas. El objetivo es asegurar que cada miembro se sienta valorado, respetado y parte integral de la comunidad
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    ¿Cuáles son algunas conductas negativas que no son toleradas dentro de la comunidad de Volcano Cloud?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Volcano Cloud no tolera ninguna forma de acoso, discriminación, comentarios ofensivos, intimidación, acoso sexual o comportamientos abusivos hacia cualquier miembro de la comunidad. Tampoco se permiten publicaciones de contenido ofensivo, violento, pornográfico o difamatorio dentro de la comunidad. Además, se prohíbe revelar información personal confidencial de otros miembros sin su consentimiento y el uso de lenguaje o comportamientos sexualmente inapropiados. Estas conductas negativas están en contra del código de conducta de la comunidad y se toman en serio para mantener un entorno positivo y respetuoso para todos.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    ¿Cómo se abordan los conflictos o desacuerdos entre los miembros de Volcano Cloud de manera constructiva y respetuosa?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    <i class="bi bi-question-circle question-icon"></i>
                    Los conflictos o desacuerdos entre los miembros de Volcano Cloud se abordan de manera constructiva y respetuosa. Se alienta a los miembros a participar en discusiones y debates de forma constructiva, aportando ideas enriquecedoras y respetando las opiniones de los demás. Si surgiera algún conflicto, se recomienda comunicarse abiertamente y de manera respetuosa para encontrar soluciones en beneficio de la comunidad. Si el conflicto persiste, los miembros pueden recurrir a los líderes de la comunidad para obtener asistencia y mediación.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    ¿Qué acciones tomará la comunidad en caso de que un miembro viole el código de conducta establecido por Volcano Cloud?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    En caso de que un miembro viole el código de conducta establecido por Volcano Cloud, la comunidad tomará acciones para abordar la situación de manera adecuada y justa. Las acciones pueden incluir proporcionar advertencias, suspensión temporal o, en casos graves, suspensión permanente del miembro involucrado en la violación del código de conducta. El objetivo es asegurar que todos los miembros se sientan seguros y respetados dentro de la comunidad, y que el ambiente positivo y colaborativo se mantenga en todo momento.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Preguntas Frecuentes Section -->
