<!-- app/views/shared/_footer.html.erb -->
<footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Únete</span>
          </a>
          <p>Los miembros de Volcano Cloud son apasionados por la tecnología y están comprometidos con compartir sus conocimientos y experiencias para ayudar a otros a crecer y desarrollarse en el ámbito tecnológico.</p>
          <div class="social-links d-flex mt-4">
            <%# <a href="https://www.instagram.com/volcanocloud/" class="twitter"><i class="bi bi-twitter"></i></a> %>
            <%# <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> %>
            <a href="https://www.instagram.com/volcanocloud" class="instagram"><i class="bi bi-instagram"></i></a>
            <%# <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a> %>
            <a href="https://github.com/VolcanoCloudMX" class="github"><i class="bi bi-github"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/events">Eventos</a></li>
            <li><a href="/proyects">Proyectos</a></li>
            <li><a href="/login">Inscribirse</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Código de Conducta</h4>
          <ul>
            <li><a href="/conducta">Nuestro compromiso</a></li>
            <li><a href="/conducta">Nuestro entorno</a></li>
            <li><a href="/conducta">Nuestro deber</a></li>
            <li><a href="/conducta">Nuestro alcance</a></li>
            <li><a href="/conducta">Reporte de incidentes</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contacto</h4>
          <p>
            Universidad de Colima <br>
            Facultad de Telemática<br>
            Colima, México <br><br>
            <!-- <strong>Phone:</strong> N/A<br> -->
            <strong>Email:<br></strong>mlsa-colima@outlook.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright - All Rights Reserved
        <br><strong><span>Volcano Cloud
          <br>Pudin Network</span>
          <br>Microsoft Learn Student Ambassadors Community
        </strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

</footer>
