<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Volcano Cloud</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Inicio</a></li>
          <li><a href="https://conducta.volcanocloud.org/blog">Blog</a></li>
          <li><a href="https://conducta.volcanocloud.org/eventos">Eventos</a></li>
          <li><a href="https://conducta.volcanocloud.org/proyectos">Proyectos</a></li>
          <li class="dropdown"><a href="#"><span>Conducta</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/404.html">Código de conducta</a></li>
              <li><a href="https://conducta.volcanocloud.org/#nuestro-compromiso">Nuestro compromiso</a></li>
              <li><a href="https://conducta.volcanocloud.org/#nuestro-entorno">Nuestro entorno</a></li>
              <li><a href="https://conducta.volcanocloud.org/#nuestro-deber">Nuestro deber</a></li>
              <li><a href="https://conducta.volcanocloud.org/#alcance">Nuestro alcance</a></li>
              <li><a href="https://conducta.volcanocloud.org/#reporte-de-incidentes">Reporte de incidentes</a></li>
            </ul>
          </li>
          <li><a href="https://conducta.volcanocloud.org/contacto">Contacto</a></li>
          <li><a class="get-a-quote" href="#">Inscribirse</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
</header>
