<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Volcano Cloud</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" class="">Inicio</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/events">Eventos</a></li>
          <li class="dropdown"><a href="#"><span>Conducta</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/conducta">Código de Conducta</a></li>
              <li><a href="/compromiso">Nuestro compromiso</a></li>
              <li><a href="/entorno">Nuestro entorno</a></li>
              <li><a href="/deber">Nuestro deber</a></li>
              <li><a href="/alcance">Nuestro alcance</a></li>
              <li><a href="/incidentes">Reporte de incidentes</a></li>
            </ul>
          </li>
          <li><a href="/contacto">Contacto</a></li>
          <li><a href="https://volcanocloud.org/discord" class="">Discord<i class="bi bi-discord ms-3"></i></a></li>
          <li><%= (button_to "Inscribirse", "/auth/auth0", method: :post, class: "get-a-quote", data: { disable_with: "Inscribiendo...", turbo: false }) unless @user %></li>
          <li><%= (link_to "Salir", "/auth/auth0/logout", class: "get-a-quote", data: { disable_with: "Saliendo...", turbo: false }) if @user %></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
</header>
