<%= render partial: 'shared/title', locals: { title: "Nuestro compromiso" } %>

<div class="m-5 text-justify">
    <%= render_markdown('files/compromiso.md') %>
</div>

<%= render partial: 'shared/faq' %>
